#quote-box {
  text-align: center;
  align-items: center;
}

#root {
  display: flex;
  background-color: white;
  border-radius: 1%;
  width: 25%;
}

body {
  background-color: mediumaquamarine;
  padding-top: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#author {
  padding-bottom: 10px;
}

#tweet-quote {
  display: flex;
  margin-left: 10px;
  margin-bottom: -30px;
  font-size: xx-large;
}

#new-quote {
  margin-bottom: 10px;
  border-radius: 5px;
}

.text-fade {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

