#quote-box {
  background-color: white;
  border-radius: 1%;
  width: 25%;
  text-align: center;
  height: max-content;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
}

#author {
  padding-bottom: 10px;
}

.buttons {
  display: flex;
}

#tweet-quote {
  margin-left: 1rem;
  font-size: xx-large;
}

#new-quote {
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 1rem;
}
