#quote-box {
  text-align: center;
}

#root {
  background-color: white;
  height: 200px;
  border-radius: 1%;
  width: 25%;
}

body {
  background-color: mediumaquamarine;
  padding-top: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tweet-quote {
  font-size: xx-large;
  margin-left: -50%;
}

#new-quote {
  margin-right: -60px;
  border-radius: 5px;
}

